server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/neuro
    username: neuro_user
    password: Savan@123

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
